In [1]:
import pandas as pd

In [2]:
mba=pd.read_csv("c:/Users/dell/Downloads/mba.csv")

In [3]:
mba.head()

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740
3         4      99   690
4         5     208   710

In [4]:
mba.head(10)

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740
3         4      99   690
4         5     208   710
5         6     136   660
6         7      70   660
7         8     103   710
8         9      79   700
9        10      22   730

In [6]:
mba.columns

Index(['datasrno', 'workex', 'gmat'], dtype='object')

In [7]:
mba.dtypes

datasrno    int64
workex      int64
gmat        int64
dtype: object

In [8]:
mba.info

<bound method DataFrame.info of      datasrno  workex  gmat
0           1      21   720
1           2     107   640
2           3      57   740
3           4      99   690
4           5     208   710
..        ...     ...   ...
768       769      88   620
769       770     132   670
770       771      28   610
771       772      10   610
772       773      52   620

[773 rows x 3 columns]>

In [9]:
mba.count()

datasrno    773
workex      773
gmat        773
dtype: int64

In [10]:
mba.mean()

datasrno    387.000000
workex       57.501940
gmat        711.164295
dtype: float64

In [11]:
mba.describe()

        datasrno     workex        gmat
count  773.00000  773.00000  773.000000
mean   387.00000   57.50194  711.164295
std    223.29017   27.38682   29.339714
min      1.00000    9.00000  600.000000
25%    194.00000   41.00000  690.000000
50%    387.00000   52.00000  710.000000
75%    580.00000   69.00000  730.000000
max    773.00000  279.00000  780.000000

In [12]:
mba.tail(10)

     datasrno  workex  gmat
763       764      31   710
764       765      29   710
765       766      46   750
766       767      44   620
767       768      38   680
768       769      88   620
769       770     132   670
770       771      28   610
771       772      10   610
772       773      52   620